---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Figma's revenge.">
  <main>
    <div class="container">
      <iframe
        style="border: 0px solid rgba(255, 185, 185, 1)"
        class="responsive-iframe"
        src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2F8cZ8WWQxtbGRZDrqTYzLHI%2FGenially%3Ftype%3Ddesign%26node-id%3D2-7%26t%3D64449FbmZygb71mD-1%26scaling%3Dcontain%26page-id%3D1%253A3%26starting-point-node-id%3D2%253A7%26mode%3Ddesign"
        allowfullscreen></iframe>
    </div>

    <a href="https://polgubau.com">Pol Gubau Amores, 2023</a>
    <a
      href="https://www.figma.com/file/8cZ8WWQxtbGRZDrqTYzLHI/Genially?type=design&node-id=2-9&mode=design&t=plmKTOX0xeB2IK74-0"
      >Figma file</a
    >
  </main>
</Layout>

<style>
  main {
    background-color: black;
    display: grid;
    place-items: center;
    min-height: 100vh;
    overflow: hidden;
  }
  a {
    color: azure;
    text-decoration: none;
    opacity: 50%;
  }
  .container {
    position: relative;
    overflow: hidden;
    width: 80%;
    padding-top: 56.25%;
    max-height: 80vh;
  }

  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
</style>
